a.lesson-button.bottom.pull-left(href="/lesson-videos") Lesson Videos
	
a.lesson-button.bottom.pull-left(href="/sample-lesson") Sample Lesson
	
a.pull-right(href="/") 
	img.logo(src="/images/bfl-logo.png")