a.lesson-button.pull-left(href="/lesson-videos", style="height: 70px; padding: 20px 15px; margin-right:20px;") Lesson Videos
	
a.lesson-button.pull-left(href="/sample-lesson", style="height: 70px; padding: 20px 15px;") Sample Lesson
	
a.pull-right(href="/") 
	img.logo(src="/images/bfl-logo.png")