ul.button
	li
		a(class="large button red", href="/sample-lesson/how-to-video") How-to Video
	li
		a(class="large button orange", href="/sample-lesson/read-more") Read More
	li
		a(class="large button yellow", href="/sample-lesson/classroom-example") Classroom Example
	li
		a(class="large button green", href="/sample-lesson/review-exercises") Review Exercises
	li
		a(class="large button blue", href="/sample-lesson/about-the-team") About the Team
	li
		a(class="large button purple", href="/sample-lesson/translated-video") Translated Video

				
				