extends layout

block head
	style.
		p.blurb {
			
		}
		
	script.
		$(function() {
			
		});

block main
	h1.title  What if we could<br>educate the <br>world?
	h3.title Teachers helping teachers
	
	.row(style="margin-top: 60px;")
		.col-md-3
		
		.col-md-3(style="text-align: right")
			a(href="/lesson-examples")
				img(src="/images/background-examples-front.png")
			
		.col-md-3(style="text-align: left;")
			a(href="/unit-presentation")
				img(src="/images/unit-presentation-front.png")
					
block footer
		.container
			div(style="text-align: center;")
				a(href="/")
					img.bfl-logo(src="/images/bfl-logo.png")

	