extends ../layout

block main
	.row(style="margin-top: 50px; text-align: center;")
		.col-md-4
			.home-image
				a(href="/unit/simply-said", data-title="Simply Said", data-nav="/unit/navigation", style="padding-right: 15px;")
					img(src="/images/simply-said.png", style="width: 130px;")
			p.home-text(style="padding-left: 70px;") 
				a(href="/unit/simply-said", data-title="Simply Said", data-nav="/unit/navigation") Simply Said
			
		.col-md-4
			.home-image
				a(href="/unit/text", data-title="Text", data-nav="/unit/navigation")
					img(src="/images/text.png", style="width: 120px")
			p.home-text(style="padding-left: 85px;") 
				a(href="/unit/text", data-title="Text", data-nav="/unit/navigation") Text
			
		.col-md-4
			.home-image
				a(href="/unit/classroom-example", data-title="Classroom Example", data-nav="/unit/navigation")
					img(src="/images/classroom-example.png", style="width: 125px")
			p.home-text(style="padding-left: 95px;")
				a(href="/unit/classroom-example", data-title="Classroom Example", data-nav="/unit/navigation") Classroom Example
	
	.row(style="margin-top: 50px; text-align: center;")
		.col-md-4
			.home-image
				a(href="/unit/review-exercises", data-title="Review Exercises", data-nav="/unit/navigation", style="padding-right: 15px;")
					img(src="/images/review-exercises.png", style="width: 110px")
			p.home-text(style="padding-left:65px") 
				a(href="/unit/review-exercises", data-title="Review Exercises", data-nav="/unit/navigation") Review Exercises
				
		.col-md-4
			.home-image
				a(href="/unit/credits", data-title="Credits", data-nav="/unit/navigation")
					img(src="/images/credits.png", style="width: 155px")
			p.home-text(style="padding-left:55px;") 
				a(href="/unit/credits", data-title="Credits", data-nav="/unit/navigation") Credits
			
		.col-md-4
			.home-image
				a(href="/unit/languages", data-title="Translations", data-nav="/unit/navigation")
					img(src="/images/languages.png", style="width: 125px;")
			p.home-text(style="padding-left:70px") 
				a(href="/unit/languages", data-title="Translations", data-nav="/unit/navigation") Translations
	
				
	