extends ../layout

block head
	style.
		#navigation {
			display: none;
		}
		
		#main {
			margin-top: 35px;
		}

block main
	.col-md-1
	
	.col-md-10
		//h2.title 
		//hr(style="border: 1px solid #7fc8e4;padding:0;margin:0")
		
		.row(style="margin-top: 60px;")
			.col-md-5
				.home-image(style="text-align: left; height: 310px;")
					a(href="/lesson-examples", data-title="Background and Other Examples", style="padding-right: 15px;")
						img(src="/images/PortalButtons_v2_03.png", style="width: 296px; height: 298px;")
				p.clearfix.home-text(style="position: relative; left: 15px")
					a(href="/lesson-examples", data-title="Background and Other Examples") Background and Other Examples
				
			.col-md-5(style="text-align: right;")
				.home-image(style="height: 310px")
					a(href="/unit-presentation", data-title="Unit Presentation")
						img(src="/images/PortalButtons_v2_05.png", style="width: 300px; height: 298px;")
				p.home-text(style="text-align: center; padding-left: 65px;")
					a(href="/unit-presentation", data-title="Unit Presentation") Unit Presentation
				
	.col-md-1
		
		
block footer
	a.pull-right(href="/")
		img.img-responsive(src="/images/bfl-logo.png")
	
	