extends ../layout

block head
	style.
		#navigation {
			display: none;
		}
		
		#main {
			margin-top: 20px;
		}
		
		a.video, a.pdf {
			padding-left: 10px;
			font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size: 16px;
		}
		
		a.video:link, a.pdf:link {
			color: #2A6496;
		} 
		
		a.video:visited, a.pdf:visited {
			color: #2A6496;
		}
		
		a.video:hover, a.pdf:hover {
			color: #0B2B64;
		}
		
		div.video-frame, div.pdf-frame {
			margin-top: 5px;
		}
		
		a.active {
			pointer-events: none;
			cursor: default;
			opacity: 0.4;
			filter: alpha(opacity=40); /* msie */
		}
	
	script.
		$(document).ready(function() {
			$("a.video").click(function(event) {
				event.preventDefault();
				var parent = $(this).parent();
				
				if (parent.hasClass('glyphicon-eject')) {
					parent.removeClass('glyphicon-eject');
					$("div.video-frame", parent).remove();
				}
				else {
					var videoID = $(this).attr("data-videoID");
					
					parent.append('<div class="video-frame"><iframe width="450" height="253" src="//www.youtube.com/embed/' + videoID + '?autoplay=1" frameborder="0" allowfullscreen></iframe></div>');
					parent.addClass('glyphicon-eject');
				}
			})
			
			$("a.pdf").click(function(event) {
				event.preventDefault();
				var parent = $(this).parent();
				
				if (parent.hasClass('glyphicon-eject')) {
					parent.removeClass('glyphicon-eject');
					$("div.pdf-frame", parent).remove();
				}
				else {
					var href = $(this).attr("href");
					
					$(this).parent().append('<div class="pdf-frame"><iframe width="900" height="510" src="' + href + '?autoplay=1" frameborder="0" allowfullscreen></iframe></div>');
					parent.addClass('glyphicon-eject');
				}
			});
		});

block main
	.col-md-1
	
	.col-md-10
		h2.title Background and Examples
		hr

		h3 Background materials
		p

		h4 What if we could educate the world?
		p This brief video, made for the Wichita Community Foundation, explains the overall program.
		p.glyphicon.glyphicon-film <a class="video" data-videoID='rb1zvEiF7l0' href="http://youtu.be/rb1zvEiF7l0">http://youtu.be/rb1zvEiF7l0</a>
		p
		
		h4 Content Framework Chart
		p This chart outlines some ideas for possible lesson content. These preliminary ideas were for our model lessons, to get the ball rolling. We invite you to share further ideas.
			p.glyphicon.glyphicon-file <a class="pdf" href="/files/ContentFramework.pdf">Content Framework</a>

		h3 Lesson Video Examples

		h4 Principles
		p Videos about teaching “principles” that apply to any lesson. These videos will be translated into practically all the languages of the world.

		ul
			li Structure of a Lesson (Train)
				br
				p.glyphicon.glyphicon-film <a class="video" data-videoID='MbQpDsP6AzU' href="http://youtu.be/MbQpDsP6AzU">http://youtu.be/MbQpDsP6AzU</a>

			li Structure of a Lesson (Train) – Spanish translation 
				br
				p.glyphicon.glyphicon-film <a class="video" data-videoID='UGPLGHBHKtk' href="http://youtu.be/UGPLGHBHKtk">http://youtu.be/UGPLGHBHKtk</a>

			li Structure of a Lesson (Richard)
				br
				p.glyphicon.glyphicon-film <a class="video" data-videoID='tO9jWHVcnbA' href=" http://youtu.be/tO9jWHVcnbA">http://youtu.be/tO9jWHVcnbA</a>

			li Importance of Introduction 
				br
				p.glyphicon.glyphicon-film <a class="video" data-videoID='2L1yR5NGxOA' href="http://youtu.be/2L1yR5NGxOA">http://youtu.be/2L1yR5NGxOA</a>

			li Importance of Introduction (Train)
				br
				p.glyphicon.glyphicon-film <a class="video" data-videoID='TJ8OYbJblgU' href="http://youtu.be/TJ8OYbJblgU">http://youtu.be/TJ8OYbJblgU</a>

			li Importance of Introduction (Children’s art)
				br
				p.glyphicon.glyphicon-film <a class="video" data-videoID='7Jt51QnkSYI' href="http://youtu.be/7Jt51QnkSYI">http://youtu.be/7Jt51QnkSYI </a>

			li New Information
				br
				p.glyphicon.glyphicon-film <a class="video" data-videoID='RBOZLxaZjZQ' href="http://youtu.be/RBOZLxaZjZQ">http://youtu.be/RBOZLxaZjZQ</a>

			li Review
				br
				p.glyphicon.glyphicon-film <a class="video" data-videoID='KzvdlG-BfpI' href="http://youtu.be/KzvdlG-BfpI">http://youtu.be/KzvdlG-BfpI</a>
		
		p
		h4 Strategies
		p Videos on teaching “strategies” that are used in specific situations. These videos will also be translated into multiple languages.

		ul 
			li Graphic Organizer – KWL
				br
				p.glyphicon.glyphicon-film <a class="video" data-videoID='eoDo3CZHrvk' href="http://youtu.be/eoDo3CZHrvk">http://youtu.be/eoDo3CZHrvk</a>

			li Venn Diagram
				br
				p.glyphicon.glyphicon-film <a class="video" data-videoID='LZrLfgVYVNY' href="http://youtu.be/LZrLfgVYVNY">http://youtu.be/LZrLfgVYVNY</a>

			li How to Teach Numerals
				br
				p.glyphicon.glyphicon-film <a class="video" data-videoID='kGEzAMT6I34' href="http://youtu.be/kGEzAMT6I34">http://youtu.be/kGEzAMT6I34</a>

			li How to Teach Numerals (Translations)
				br
				p.glyphicon.glyphicon-film <a class="video" data-videoID='_Whm7yI5ZKQ' href="http://youtu.be/_Whm7yI5ZKQ">http://youtu.be/_Whm7yI5ZKQ</a>
			li Sequencing
				br
				p.glyphicon.glyphicon-film <a class="video" data-videoID='tWGQnI57cnA' href="http://youtu.be/tWGQnI57cnA">http://youtu.be/tWGQnI57cnA</a>

		p
		h4 Application
		p Video showing how a teacher demonstrates the classroom “application” of a principle or strategy:
		
		ul
			li Introduction – Teacher Application
				br
				p.glyphicon.glyphicon-film <a class="video" data-videoID='GqBPK7CioXs' href="http://youtu.be/GqBPK7CioXs">http://youtu.be/GqBPK7CioXs</a>
			
	.col-md-1
	
block footer
	a.pull-left.active(href="/lesson-examples") 
		img(src="/images/lesson-examples.png")
		
	a.pull-left(href="/unit-presentation") 
		img(src="/images/unit-presentation.png")
		
	a.pull-right(href="/") 
		img.img-responsive(src="/images/bfl-logo.png")
	
	
	