extends ../layout

block head
	title Lesson Videos

	style.
		body {
			background-color: #fff;
			background-image: url('/images/secondaryPageBG.png');
			background-repeat: repeat-x;
		}
	
		#navigation {
			display: none;
		}
		
		a.active {
			pointer-events: none;
			cursor: default;
			opacity: 0.4;
			filter: alpha(opacity=40); /* msie */
		}

block main
	h2.title Lesson Videos
	hr

	h3 Background
	p

	h4 The Vision
	p This brief video explains the overall vision for this program.
	p <a class="video" data-videoID='MHc8wToosXQ' href="http://youtu.be/MHc8wToosXQ"><span class="glyphicon glyphicon-film">&nbsp;</span>What if we could educate the world?</a>
	p
	
	h4 Content Framework Chart
	p This chart outlines some ideas for possible lesson content. 
		p <a class="pdf" href="/files/ContentFramework.pdf"><span class="glyphicon glyphicon-file">&nbsp;</span>Content Framework</a>

	hr
	
	a(name="topPrinciples", href="#Principles")
		img(src="/images/PrinciplesTitle.png", title="Principles", style="width:180px;")
	a(name="topStrategies", href="#Strategies")
		img(src="/images/StrategiesTitle.png", title="Strategies", style="width:180px;")
	a(name="topApplication", href="#Application")
		img(src="/images/ApplicationTitle.png", title="Application", style="width:180px;")
	
	h3 Lesson Video Examples

	h4 
		a(name="Principles", href="#topPrinciples") <img src="/images/PrinciplesTitle.png" title="Principles" style="width:180px;">
	
	p Videos about teaching “principles” that apply to any lesson. These videos will be translated into<br>practically all the languages of the world.

	ul
		li 
			p <a class="video principles" data-videoID='MbQpDsP6AzU' href="http://youtu.be/MbQpDsP6AzU"><span class="glyphicon glyphicon-film">&nbsp;</span>Structure of a Lesson (Train)</a>

		li 
			p <a class="video principles" data-videoID='UGPLGHBHKtk' href="http://youtu.be/UGPLGHBHKtk"><span class="glyphicon glyphicon-film">&nbsp;</span>Structure of a Lesson (Train) – Spanish translation </a>

		li 
			p<a class="video principles" data-videoID='RhsAyiFzCN8' href=" http://youtu.be/RhsAyiFzCN8"><span class="glyphicon glyphicon-film">&nbsp;</span>Structure of a Lesson (Squirrel)</a>

		li 
			p <a class="video principles" data-videoID='2L1yR5NGxOA' href="http://youtu.be/2L1yR5NGxOA"><span class="glyphicon glyphicon-film">&nbsp;</span>Importance of Introduction </a>

		li 
			p <a class="video principles" data-videoID='TJ8OYbJblgU' href="http://youtu.be/TJ8OYbJblgU"><span class="glyphicon glyphicon-film">&nbsp;</span>Importance of Introduction (Train)</a>

		li 
			p <a class="video principles" data-videoID='7Jt51QnkSYI' href="http://youtu.be/7Jt51QnkSYI"><span class="glyphicon glyphicon-film">&nbsp;</span>Importance of Introduction (Children’s art)</a>

		li 
			p <a class="video principles" data-videoID='RBOZLxaZjZQ' href="http://youtu.be/RBOZLxaZjZQ"><span class="glyphicon glyphicon-film">&nbsp;</span>New Information</a>

		li 
			p <a class="video principles" data-videoID='KzvdlG-BfpI' href="http://youtu.be/KzvdlG-BfpI"><span class="glyphicon glyphicon-film">&nbsp;</span>Review</a>
	
	p
	h4
		a(href="#topStrategies", name="Strategies") <img src="/images/StrategiesTitle.png" title="Strategies" style="width:180px;">
		
	p Videos on teaching “strategies” that are used in specific situations. These videos will also be <br>translated into multiple languages.

	ul 
		li 
			p <a class="video strategies" data-videoID='jFTCehv4e9I' href="http://youtu.be/jFTCehv4e9I"><span class="glyphicon glyphicon-film">&nbsp;</span>Graphic Organizer – KWL</a>

		li 
			p <a class="video strategies" data-videoID='ZaMMCQSFT3A' href="http://youtu.be/ZaMMCQSFT3A"><span class="glyphicon glyphicon-film">&nbsp;</span>Venn Diagram</a>

		li 
			p <a class="video strategies" data-videoID='kGEzAMT6I34' href="http://youtu.be/kGEzAMT6I34"><span class="glyphicon glyphicon-film">&nbsp;</span>How to Teach Numerals</a>

		li 
			p <a class="video strategies" data-videoID='_Whm7yI5ZKQ' href="http://youtu.be/_Whm7yI5ZKQ"><span class="glyphicon glyphicon-film">&nbsp;</span>How to Teach Numerals (Translations)</a>
		li 
			p <a class="video strategies" data-videoID='7Xtg3nyWVKA' href="http://youtu.be/7Xtg3nyWVKA"><span class="glyphicon glyphicon-film">&nbsp;</span>Sequencing</a>
		li 
			p <a class="video strategies" data-videoID='mXhFhj1YBOE' href="http://youtu.be/mXhFhj1YBOE"><span class="glyphicon glyphicon-film">&nbsp;</span>Exit Slips</a>
		li 
			p <a class="video strategies" data-videoID='GXNAmwXYt70' href="http://youtu.be/GXNAmwXYt70"><span class="glyphicon glyphicon-film">&nbsp;</span>Predicting</a>
	
	p
	h4 
		a(href="#topApplication", name="Application") <img src="/images/ApplicationTitle.png" title="Application" style="width:180px;">
		
	p Video showing how a teacher demonstrates the classroom “application” of a principle or strategy:
	
	ul
		li 
			p <a class="video application" data-videoID='GqBPK7CioXs' href="http://youtu.be/GqBPK7CioXs"><span class="glyphicon glyphicon-film">&nbsp;</span>Introduction – Teacher Application</a>
	