extends ../layout

block head
	style.
		#navigation {
			display: none;
		}
		
		#main {
			margin-top: 45px;
		}

block main
	.col-md-1
	
	.col-md-10
		h2.title Lesson Examples
		hr
		
		include videos
	
	.col-md-1
		
		
block footer
	a(href="/") 
		img(src="/images/unit-presentation.png")
		
	a.pull-right(href="/") 
		img.img-responsive(src="/images/bfl-logo.png")
	
	