extends ../layout

block head
	style.
		#navigation {
			display: none;
		}
		
		#main {
			margin-top: 20px;
		}
		
		a:hover {
			color: green;
		}

block main
	.col-md-1
	
	.col-md-10
		h2.title Lesson Components
		hr(style="border: 1px solid #7fc8e4;padding:0;margin:0")
		
		.row(style="margin-top: 40px;")
			.col-md-4
				a(href="/unit/simply-said", data-title="Simply Said", data-nav="/unit/navigation", class="action-button shadow animate orange")
					span.fa.fa-youtube-play
					| Animated Video
				
			.col-md-4
				a(href="/unit/text", data-title="Text", data-nav="/unit/navigation", class="action-button shadow animate blue") 
					span.fa.fa-list-alt
					| Corresponding Text
				
			.col-md-4
				a(href="/unit/classroom-example", data-title="Classroom Example", data-nav="/unit/navigation", class="action-button shadow animate yellow") 
					span.fa.fa-video-camera 
					| Classroom Example
		
		.row.second(style="margin-top: 40px;")
			.col-md-4
				a(href="/unit/review-exercises", data-title="Review Exercises", data-nav="/unit/navigation", class="action-button shadow animate green")
					span.fa.fa-pencil-square-o
					| Review Exercises
					
			.col-md-4
				a(href="/unit/credits", data-title="Credits", data-nav="/unit/navigation", class="action-button shadow animate red") 
					span.fa.fa-user
					| Team Credits
				
			.col-md-4
				a(href="/unit/languages", data-title="Translations", data-nav="/unit/navigation", class="action-button shadow animate purple")
					span.fa.fa-comments
					| Translated Video
					
	.col-md-1
		
		
block footer
	a.pull-left(href="/lesson-examples") 
		img(src="/images/lesson-examples.png")
		
	a.pull-left.active(href="/unit-presentation") 
		img(src="/images/unit-presentation.png")
		
	a.pull-right(href="/") 
		img.img-responsive(src="/images/bfl-logo.png")
	