extends ../layout

block head
	style.
		#navigation {
			display: none;
		}
		
		#main {
			margin-top: 20px;
		}
		
		h3.title {
			color: #559D43;
			margin-top: 40px;
		}
		
		h3.lesson-title {
			color: #559D43;
		}
		
		a.action-button {
			color: #FFF;
		}
		
		a.action-button:visited {
			color: #FFF;
		}
		
	script.
		$(document).ready(function() {
			// $("a.action-button").tooltip();
		});

block main
	.col-md-1
	
	.col-md-10
		h2.title Sample Lesson
		hr(style="border: 1px solid #7fc8e4;padding:0;margin:0")
		
		h3.lesson-title Importance of Introduction
		
		.row(style="margin-top: 40px;")
			.col-md-4
				a(href="/unit/simply-said", class="action-button shadow animate orange")
					span.fa.fa-youtube-play
					br
					| How-to Video
					br
					span.description Start here&#8212;this is the main video of the lesson.
				
			.col-md-4
				a(href="/unit/text", class="action-button shadow animate blue") 
					span.fa.fa-list-alt
					br
					| Read More
					br
					span.description If you prefer to read, or want more details.
				
			.col-md-4
				a(href="/unit/classroom-example", class="action-button shadow animate yellow") 
					span.fa.fa-video-camera
					br
					| Classroom Example
					br
					span.description See how a teacher applies this lesson in her classroom.
		
		.row.second(style="margin-top: 40px;")
			.col-md-4
				a(href="/unit/review-exercises", class="action-button shadow animate green")
					span.fa.fa-pencil-square-o
					br
					| Review Exercises
					br
					span.description Do these to practice what you learned.
					
			.col-md-4
				a(href="/unit/credits", class="action-button shadow animate red") 
					span.fa.fa-user
					br
					| About the Team
					br
					span.description Meet the group of people who made this lesson.
				
			.col-md-4
				a(href="/unit/languages", class="action-button shadow animate purple")
					span.fa.fa-comments
					br
					| Translated Video
					br
					span.description Lessons will be translated into many languages.
					
	.col-md-1
		
		
block footer
	include ../footer
	