style.
	div.bx-viewport {
		border-color: rgba(41,136,173, 0.23) !important;
		background-color: rgba(41,136,173, 0.23) !important;
	}
	
	h3.title {
		padding: 0 0 10px 10px;
	}
	
script.
		$(document).ready(function() {
			$('.bxslider').bxSlider({
				video: true,
				useCSS: false
			});
		});


ul.bxslider
	li
		iframe(width="450", height="253", src="//www.youtube.com/embed/2L1yR5NGxOA", frameborder="0", allowfullscreen)
		h3.title Structure of a Lesson (Lefever Style)
	li
		iframe(width="450", height="253", src="//www.youtube.com/embed/7Jt51QnkSYI", frameborder="0", allowfullscreen)
		h3.title Importance of Introduction (Children't Art)
	li
		iframe(width="450", height="253", src="//www.youtube.com/embed/LZrLfgVYVNY", frameborder="0", allowfullscreen)
		h3.title Venn Diagram
	li
		iframe(width="450", height="253", src="//www.youtube.com/embed/kGEzAMT6I34", frameborder="0", allowfullscreen)
		h3.title Numerals
	li
		iframe(width="450", height="253", src="//www.youtube.com/embed/tWGQnI57cnA", frameborder="0", allowfullscreen)
		h3.title Sequencing
	li
		iframe(width="450", height="253", src="//www.youtube.com/embed/eoDo3CZHrvk", frameborder="0", allowfullscreen)
		h3.title KWL