.row
	div.col-md-6
		.col-md-4
			img(src="/images/scott.png")
			p.name Scott Garvey
		.col-md-8
			p.blurb.
				Scott worked with conceptualizing, graphics, animation, sound recording and video editing. 
				He was also the overall manager of the project, helping to keep everyone’s tasksclear and organized.

		
	div.col-md-6
		.col-md-4
			img(src="/images/jeffrey.png")
			p.name Jeffrey Faus
		.col-md-8
			p.blurb.
				Jeffrey was a key animator on this project. He also worked with conceptualizing, writing, sound recording and sound editing.

	
.row.sep
	div.col-md-6
		.col-md-4
			img(src="/images/shirley.png")
			p.name Shirley Lefever-Davis
	
		.col-md-8
			p.blurb.
				Shirley contributed her expertise in teacher training by helping generate the educational content that guided the development of the videos and other materials.

	div.col-md-6
		.col-md-4
			img(src="/images/erin.png")
			p.name Erin DeGroot
			
		.col-md-8
			p.blurb.
				Erin served as a graphic artist, animator and voice talent. 
				She also contributed her talents to conceptualizing and creating the visual look and feel for this project.
		
.row.sep
	div.col-md-6
		.col-md-4
			img(src="/images/mark.png")
			p.name Mark Earnest
			
		.col-md-8
			p.blurb.
				Mark was a key animator on this project. He also worked with video exporting and editing, and provided general technical support.

		
	div.col-md-6
		.col-md-4
			img(src="/images/sheril.png")
			p.name Sheril Logan
			
		.col-md-8
			p.blurb.
				Sheril contributed her expertise in teacher training by helping generate the educational content that guided the development of the videos and other materials.

	
.row.sep
	div.col-md-6
		.col-md-4
			img(src="/images/richard.png")
			p.name Richard Crowson
			
		.col-md-8
			p.blurb.
				Richard contributed his talents in illustration to this project, and also served as voice talent.
				
	div.col-md-6
		.col-md-4
			img(src="/images/sarah.png")
			p.name Sarah Wolfe
			
		.col-md-8
			p.blurb.
				Sarah provided animation, vocal talent and also helped with audio experimenting.

	
.row.sep
	div.col-md-6
		.col-md-4
			img(src="/images/balbir.png")
			p.name Balbir Mathur
			
		.col-md-8
			p.blurb.
				Balbir played a key role in conceptualizing and was the overall director of this project. He also played the role of the “client,” overseeing and guiding all aspects of production.
		
	div.col-md-6
		.col-md-4
			img(src="/images/veronica.png")
			p.name Veronica Velenciana
			
		.col-md-8
			p.blurb.
				Veronica shared her teaching skills and experience by demonstrating how she does a lesson introduction with her Kindergarten students. She can be seen in one of the Application videos.