h2.title Credits
hr

.row
	div.col-md-6
		.col-md-4
			img(src="/images/scott.png")
		.col-md-8
			p.blurb.
				Scott worked with conceptualizing, graphics, animation, sound recording and video editing. 
				He was also the overall manager of the project, helping to keep everyone’s tasksclear and organized.
		.col-md-12
			p.name Scott Garvey

		
	div.col-md-6
		.col-md-4
			img(src="/images/jeffrey.png")
		.col-md-8
			p.blurb.
				Jeffrey was a key animator on this project. He also worked with conceptualizing, writing, sound recording and sound editing.
		.col-md-12
			p.name Jeffrey Faus

	
.row.sep
	div.col-md-6
		.col-md-4
			img(src="/images/shirley.png")
	
		.col-md-8
			p.blurb.
				Shirley contributed her expertise in teacher training by helping generate the educational content that guided the development of the videos and other materials.
		.col-md-12
			p.name Shirley Lefever-Davis

	div.col-md-6
		.col-md-4
			img(src="/images/erin.png")
			
		.col-md-8
			p.blurb.
				Erin served as a graphic artist, animator and voice talent. 
				She also contributed her talents to conceptualizing and creating the visual look and feel for this project.
		.col-md-12
			p.name Erin DeGroot
		
.row.sep
	div.col-md-6
		.col-md-4
			img(src="/images/mark.png")
			
		.col-md-8
			p.blurb.
				Mark was a key animator on this project. He also worked with video exporting and editing, and provided general technical support.
		.col-md-12
			p.name Mark Earnest

		
	div.col-md-6
		.col-md-4
			img(src="/images/sheril.png")
			
		.col-md-8
			p.blurb.
				Sheril contributed her expertise in teacher training by helping generate the educational content that guided the development of the videos and other materials.
		.col-md-12
			p.name Sheril Logan

	
.row.sep
	div.col-md-6
		.col-md-4
			img(src="/images/richard.png")
			
		.col-md-8
			p.blurb.
				Richard contributed his talents in illustration to this project, and also served as voice talent.
		.col-md-12
			p.name Richard Crowson
				
	div.col-md-6
		.col-md-4
			img(src="/images/sarah.png")
			
		.col-md-8
			p.blurb.
				Sarah provided animation, vocal talent and also helped with audio experimenting.
		.col-md-12
			p.name Sarah Wolfe

	
.row.sep
	div.col-md-6
		.col-md-4
			img(src="/images/balbir.png")
			
		.col-md-8
			p.blurb.
				Balbir played a key role in conceptualizing and was the overall director of this project. He also played the role of the “client,” overseeing and guiding all aspects of production.
		.col-md-12
			p.name Balbir Mathur
		
	div.col-md-6
		.col-md-4
			img(src="/images/veronica.png")
			
		.col-md-8
			p.blurb.
				Veronica shared her teaching skills and experience by demonstrating how she does a lesson introduction with her Kindergarten students. She can be seen in one of the Application videos.
		.col-md-12
			p.name Veronica Velenciana