.row
	div.col-md-4
		img(src="/images/scott.png")
		p.name Scott Garvey
		
	div.col-md-4
		img(src="/images/jeffrey.png")
		p.name Jeffrey Faus
		
	div.col-md-4
		img(src="/images/shirley.png")
		p.name Shirley Lefever-Davis
.row
	div.col-md-4
		img(src="/images/erin.png")
		p.name Erin DeGroot
		
	div.col-md-4
		img(src="/images/mark.png")
		p.name Mark Earnest
		
	div.col-md-4
		img(src="/images/sheril.png")
		p.name Sheril Logan
.row
	div.col-md-4
		img(src="/images/richard.png")
		p.name Richard Crowson
		
	div.col-md-4
		img(src="/images/sarah.png")
		p.name Sarah Wolfe
		
	div.col-md-4
		img(src="/images/balbir.png")
		p.name Balbir Mathur
.row
	div.col-md-4
		img(src="/images/veronica.png")
		p.name Veronica Velenciana