h2.title About the Team
hr

.collage
	img(src="/images/veronica.png", alt="Veronica Velenciana",  title="Veronica shared her teaching skills and experience by demonstrating how she does a lesson introduction with her Kindergarten students. She can be seen in one of the Application videos.")
	//- span.description Veronica shared her teaching skills and experience by demonstrating how she does a lesson introduction with her Kindergarten students. She can be seen in one of the Application videos.
	img(src="/images/shirley.png", alt="Shirley Lefever-Davis",  title="Sheril contributed her expertise in teacher training by helping generate the educational content that guided the development of the videos and other materials.")
	img(src="/images/sheril.png", alt="Sheril Logan",  title="Sheril contributed her expertise in teacher training by helping generate the educational content that guided the development of the videos and other materials.")
	img(src="/images/sarah.png", alt="Sarah Wolfe",  title="Sarah provided animation, vocal talent and also helped with audio experimenting.")
	img(src="/images/richard.png", alt="Richard Crowson",  title="Richard contributed his talents in illustration to this project, and also served as voice talent.")
	img(src="/images/balbir.png", alt="Balbir Mathur",  title="Balbir played a key role in conceptualizing and was the overall director of this project. He also played the role of the “client,” overseeing and guiding all aspects of production.")
	img(src="/images/jeffrey.png", alt="Jeffrey Faus",  title="Jeffrey was a key animator on this project. He also worked with conceptualizing, writing, sound recording and sound editing.")
	img(src="/images/scott.png", alt="Scott Garvey",  title="Scott worked with conceptualizing, graphics, animation, sound recording and video editing. He was also the overall manager of the project, helping to keep everyone’s tasks clear and organized.")
	img(src="/images/erin.png", alt="Erin DeGroot",  title="Erin served as a graphic artist, animator and voice talent. She also contributed her talents to conceptualizing and creating the visual look and feel for this project.")
	img(src="/images/mark.png", alt="Mark Earnest",  title="Mark was a key animator on this project. He also worked with video exporting and editing, and provided general technical support.")
	
script.
	$(document).ready(function() {
		$('.collage').collagePlus({
			'targetHeight'    : 235,
		});
		
		$(".collage img").mouseover(function(event) {
			var name = $(this).attr("alt");
			var description = $(this).attr("title");
			console.log(name, description);
			
		});
	});
