extends ../layout.jade

block head
	style.
		body {
			background-image: url('/images/secondaryPageBG.png');
			position: relative;
			top: -30px;
		}
		
		#main .wrapper {
			margin-left: 60px;
		}
	
	script.
		$(document).ready(function() {
			// need to reposition footer to the bottom
			// $("#footer").css("position", "relative");
		});
		
block navigation
	include navigation

block main
	//- Includes happen at compile time, so they can't be passed a variable.
	//- Need to look for an easier solution, probably in the config or controller.
	
	case page
		when "simply-said"
			include simply-said
		when "text"
			include text
		when "classroom-example"
			include classroom-example
		when "review-exercises"
			include review-exercises
		when "languages"
			include languages	
		when "credits"
			include credits
		default
			<iframe width="600" height="600" src="/404" frameborder="0"></iframe>
	
	