ul.nav
	li
		a.ajax(href="/unit/simply-said", data-title="Simply Said", tabindex="1") 
			h3 Simply Said
	li
		a.ajax(href="/unit/text", data-title="Text", tabindex="2") 
			h3 Text
	li
		a.ajax(href="/unit/classroom-example", data-title="Classroom Example", tabindex="3") 
			h3 Classroom Example
	li
		a.ajax(href="/unit/review-exercises", data-title="Review Exercises", tabindex="4") 
			h3 Review Exercises
	li
		a.ajax(href="/unit/credits", data-title="Credits", tabindex="5")  
			h3 Credits
	li
		a(href="/", data-title="Home", tabindex="6")  
			h3 Home