style.
	a.ajax {
		margin-right:10px;
	}

div(style="margin-top:25px")
	a(href="/", data-title="Home", style="margin-right: 10px")
		img.process(src="/images/home.png")

	a.ajax(href="/unit/simply-said", data-title="Simply Said")
		img.process(src="/images/simply-said-title.png")

	a.ajax(href="/unit/text", data-title="Text")
		img.process(src="/images/text-title.png")

	a.ajax(href="/unit/classroom-example", data-title="Classroom Example")
		img.process(src="/images/classroom-example-title.png")

	a.ajax(href="/unit/review-exercises", data-title="Review Exercises")
		img.process(src="/images/review-exercises-title.png")

	a.ajax(href="/unit/credits", data-title="Credits")
		img.process(src="/images/credits-title.png")
		
	a.ajax(href="/unit/languages", data-title="Translations")
		img.process(src="/images/languages-title.png")