link(href="/styles/navigation.css", rel="stylesheet")

ul.button
	li
		a.ajax(class="large button red", href="/unit/simply-said", data-title="Simply Said") Simply Said
	li
		a.ajax(class="large button orange", href="/unit/text", data-title="Text") Text
	li
		a.ajax(class="large button yellow", href="/unit/classroom-example", data-title="Classroom Example") Classroom Example
	li
		a.ajax(class="large button green", href="/unit/review-exercises", data-title="Review Exercises") Review Exercises
	li
		a.ajax(class="large button blue", href="/unit/credits", data-title="Credits") Credits
	li
		a.ajax(class="large button purple", href="/unit/languages", data-title="Translations") Translations