link(href="/styles/review-exercises.css", rel="stylesheet")
script(src="/js/review-exercises.js")
	

h2.title Review Exercises
hr

form.exercises
	.wrapper.clearfix
		.question
			h4 How much of the lesson should the introduction take?
			
			input#intro1(type="radio", name="intro", value="3/5") 
			| <label for="intro1">3/5</label> <br>
			input#intro2(type="radio", name="intro", value="2/5") 
			| <label for="intro2">2/5</label> <br>
			input#intro3(type="radio", name="intro", value="4/5") 
			| <label for="intro3">4/5</label> <br>
			input#intro4(type="radio", name="intro", value="1/5") 
			| <label for="intro4">1/5</label> <br>
			
		.answer
		
	.wrapper.clearfix
		.question
			h4 What are the parts to a lesson?
			
			input#parts1(type="checkbox", name="parts", value="Direction") 
			| <label for="parts1">Direction</label> <br>
			input#parts2(type="checkbox", name="parts", value="Vocabulary") 
			| <label for="parts2">Vocabulary</label> <br>
			input#parts3(type="checkbox", name="parts", value="Review") 
			| <label for="parts3">Review</label> <br>
			input#parts4(type="checkbox", name="parts", value="Venn Diagram") 
			| <label for="parts4">Venn Diagram</label> <br>
			input#parts5(type="checkbox", name="parts", value="Introduction") 
			| <label for="parts5">Introduction</label> <br>	
			input#parts6(type="checkbox", name="parts", value="New Information") 
			| <label for="parts6">New Information</label> <br>
			input#parts7(type="checkbox", name="parts", value="1/5") 
			| <label for="parts7">1/5</label> <br>
		.answer
			
	
	.wrapper.clearfix
		.question2
			h4 Type in the part of the lesson where the skill or concept is taught.
			
			datalist#skill_taught
				option(value="Distraction")
				option(value="Firefox")
				option(value="New Information")
				option(value="New Vocabulary")
				option(value="New Smarktopus")
				option(value="New Review")
				option(value="New Grudge")
				option(value="Review")
				option(value="Introduction")
				option(value="Smarktopus")
				option(value="Chrome")
				option(value="Capture Interest")
				option(value="Share Goals")
				option(value="Grudge")
				
			input(list="skill_taught", name="skill_taught")
			input(type="button", value="Check")
		
		.answer2
		
	.wrapper.clearfix
		.question2
			h4 How does the review help the teacher?
			
			select(name="review")
				option(value="") 
				option(value="Students Understand") Makes sure the students understood what was taught.
				option(value="New Vocabulary") New vocabulary can be introduced.
				option(value="Share Goals") The teacher can share goals.
				option(value="Prepare Students") The students are prepared.
				option(value="Activate Schema") It activates the student's schema.
				option(value="Chicken Dance") A Chicken Dance is performed.
				
		.answer2
		
	.wrapper.clearfix
		h4.snap Move the train cars onto the track until they match the 3 parts of the lesson.
		
		img.train.text.three-fifths(src="/images/exercises/bird-new-information.png")
		img.train.text.one-fifth-intro(src="/images/exercises/bird-introduction.png")
		img.train.text.one-fifth-review(src="/images/exercises/bird-review.png")
		
		.game
			.snap.snap-introduction
			.snap.snap-new-information
			.snap.snap-review
			.game-answer
			
		.pieces1
			img.train.review(src="/images/exercises/caboose.png")
			img.train.introduction(src="/images/exercises/engine.png")
			img.train.new-information(src="/images/exercises/car.png")

		p.clearfix
		
			
			