style.
	img.clip {
		cursor: pointer;
	}

script.
	$(document).ready(function() {
		$("img.clip").click(function(event) {
			$(this).fadeOut(function() {
				$("div.iframe").html('<iframe width="700" height="394" src="//www.youtube.com/embed/2-dy5gySVwo?autoplay=1" frameborder="0" allowfullscreen></iframe>');
			});
		});
	});

h2.title Principles of Teaching: Structure of a Lesson
hr
	
	
img.clip(src="/images/simply-said-clip.png")
div.iframe