style.
	#main {
		line-height: normal;
	}
	
	span.glyphicon-print {
		cursor: pointer;
		padding-left: 15px;
		font-size: 18px;
		color: #000;
	}
	
	button.btn-info {
		margin-left: 20px;
	}

script.
	$(document).ready(function() {
		$("button.btn-info").click(function(event) {
			window.print();
		});
		
		document.title = "Unit Lesson Text";
	});
	

h2.title Structure of a Lesson 
	button(type="button" class="btn btn-info") Print
	
hr

h3 Three parts of a lesson 
p Every lesson, no matter what the subject, should have three (3) parts. These three parts are:
ul
	li Introduction
	li New Information
	li Review

h4 1.	Introduction
p The first part of a lesson is called the “Introduction.”
	| The Introduction is where the lesson topic is introduced. The teacher makes sure that the students are paying attention and interested, they are ready to learn and they understand the purpose of the lesson.
ul
	li The Introduction is an essential part of every lesson. Unfortunately, it is often ignored or left out. An Introduction is critical to “set the stage” for students to learn and understand the lesson’s content.
	li The Introduction should be no more than one-fifth (1/5) of the total lesson time.

h4 2.	New Information
p The middle part of a lesson is called the “New Information” section.
	| The New Information section is where the skill or concept of the lesson’s content is taught. The teacher connects the information with what the students already know, teaches new vocabulary, and guides the students in learning and practicing the new information or skill. 
ul
	li The New Information section takes the majority of the lesson time. It should be about three-fifths (3/5) of the lesson time. (For example, in a ten-minute lesson the New Information section would be at least six minutes long).

h4 3.	Review
p The last part of every lesson is the “Review.” 
	| This section of the lesson is used to review the content that was taught. The Review provides an opportunity for the students to solidify their understanding of the content. It allows the teacher to make sure the students understood what was taught. It can also be used to help the students apply their new knowledge or skill to a real-life situation. 
ul
	li The Review helps the students to understand why their new knowledge or skill is important to learn and remember.
	li The Review section takes approximately one-fifth (1/5) of the total lesson time.

h4 Summary
p Every lesson has three (3) parts. <br>The three parts are:
ol
	li Introduction
	li New Information
	li Review

h4 The proportions of time used for each part are:
ul
	li Introduction: 	1/5
	li New Information: 	3/5
	li Review: 	1/5
