h2.title Text: Structure of a Lesson
hr

h4 Every Lesson has three parts.
p

h4 The three parts are:
ul
	li Introduction
	li New Information
	li Review

h4 Proportions:
ul
	li The Introduction takes 1/5 of the lesson time.
	li The new information takes 3/5.
	li The Review takes the remaining 1/5.