h2.title Importance of Introduction
hr

p The Introduction is the first part of each lesson. It should take 1/5 of the lesson time.

h3 Importance of Introduction
p
p The Introduction is an essential part of every lesson. Unfortunately, the Introduction is often ignored or left out. When this happens, students can wonder what they are supposed to learn and why it is important, which makes teaching them more difficult.
p An Introduction solves this problem by providing 1) focus and 2) direction to the lesson.

h4 Focus and its importance
p
p Creating a clear focus at the start of every lesson is important for both the students and the teacher.
p Focused students are more attentive, interested and cooperative, so they are easier to teach and they get more out of the lesson.
p Focus also helps the teacher avoid distractions and keeps them from straying from the main subject.  

h4 Direction and its importance
p Starting every lesson with a clear direction means making sure everyone understands and is heading toward the same learning goals. A clear direction helps ensure that the lesson will be successful and the students will learn what they need to learn.
p How to establish focus and direction
p Capture Interest: It is important to include an activity in the Introduction that will pique the students’ curiosity or connect with something that already interests them. When a teacher captures the students’ interest, the students naturally pay closer attention and have a better understanding of why the lesson is important. 
p Prepare Students: To prepare the students for learning, the teacher gets the students thinking about what they already know related to the lesson topic. Bringing out their existing knowledge “warms up” their thinking. Students will then be more receptive and ready to understand the new information. If new vocabulary will be used in the lesson, the teacher also introduces these words and their meanings. Preparing students is like plowing the ground before planting seeds.
p Share Goals: It is important for the teacher to make sure students understand what they will learn and why it is important. The students should not have to guess what they are supposed to learn and why.   

h4 Summary
p What: The Introduction is the first part of every lesson and should take 1/5 of the lesson time. 
p Why: It provides focus and direction to the lesson.

h4 How: 
p Capture Interest by piquing the students’ curiosity.
p Prepare Students by bringing out relevant knowledge they already possess and introducing any new words.
p Share Goals by talking about what they will learn and why it is important.
