body {
	background-color: #93d9f0;
	background-image: url('/images/FrontPageBG.png');
	background-repeat: repeat-x;
	overflow-y: scroll;
	font-size: 16px;
	/* position: relative;
	background-position-y: -60px; */
}

a:link {
	color: inherit;
	text-decoration: none;
}

a.active img.process {
	background-color: red;
}

p.home-text a:hover, p.home-text a.focus {
	border-bottom: 3px solid gold;
}

#header .container {
	padding-top: 5px;
}
	
#navigation {
	margin-top: -13px;
	height: 42px;
}

	#navigation img {
		height: 48px;
	}
	
#sidebar {
	background-color: rgba(41,136,173, 0.23);
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-top: 55px;
	padding-top: 20px;
	xpadding-left: 0;
	z-index: 0;
}
	
	#sidebar li:first-child {
		margin-bottom: 20px;
	}

#main .content {
	xborder: 1px solid black;
}

	#main .content {
		/* background-color: rgba(41,136,173, 0.23);
		-moz-border-radius: 15px;
		border-radius: 15px; */
	}
	
	h1.title {
		font-family: 'Bree Serif', serif;
		color: #31859C;
		font-size: 40px;
		position: relative; top: -10px;
	}
	
	h2.title {
		color: #559D43;
		font-family: 'Arvo', serif;
		font-weight: 400;
		font-size: 30px;
	}
				
	h3.title {
		color: #559D43;
		font-family: Arvo, serif;
		font-size:20px;
		position: relative; top: -30px;
	}
	
	h4.blurb {
		text-align: center;
		font-family: 'Bree Serif', serif;
		margin-top: -20px;
	}
	
	hr {
		border: 1px solid #7fc8e4;
		padding:0;
		margin: 0 0 20px;
	}
	
	div.toggle {

	}
	
	a.toggle {
		float: right;
		margin-top: 20px;
	}
	
	h3.title {
		font-family: 'Bree Serif', serif;
	}
	
	div.home-image {
		height: 140px;
	}
	
	p.home-text {
		font-family: 'Bree Serif', serif;
		font-size: 20px;
		color: #31859C;
	}
	
	p.name {
		font-size: 24px;
		margin-top: 10px;
	}
	
	p.blurb {
		font-size: 16px;
		padding-left: 10px;
	}
	
	.row.sep {
		border-top: 2px dashed gray; 
		margin-top: 10px;
		padding-top: 25px;
	}
	
	ul.main {
		margin-top: 20px;
	}
	
	ul.main li {
		margin: 5px 0;
	}
	
	ul.bxslide {
		background-color: #DCF3FB;
	}
	
	div.video {
		margin-bottom: 10px;
	}
	
#bottom {
	position: absolute;
	bottom: 75px;
	width: 100%;
}


#header .row, #navigation, #main .row, #footer .row {
	xborder: 1px dashed red;
}

.col-md-1 {
	xborder: 1px dashed blue;
}

.col-md-10 {
	xborder: 1px solid;
}

.container {
	xborder: 1px dashed;
}

/* Sticky footer */
html, body {
	height: 100%;
}

#footer .col-md-10 {
	/* background-image: url("/images/bfl-logo.png");
	background-repeat: no-repeat;
	background-position: 100% 50%; */
}

#wrapper {
  min-height: 100%;
  margin-bottom: -100px; 
}

#wrapper:after {
  content: "";
  display: block;
}

#footer, #wrapper:after {
  /* .push must be the same height as footer */
  height: 90px;
  margin-top: 25px;
}

#footer {
	width:100%;
	padding: 12px 0;
	margin: 10px 0 0;
	background-color: #7fc8e4;
	
	xborder: 1px dashed red;
}

.bfl-logo {
	margin-top: 10px;
}

#gallery {
	margin-top: 25px;
}

/***		Lesson Buttons		***/
.lesson-button {
	display: inline-block;
	width: 220px;
	height: 90px;
	padding: 30px 15px;
	border-radius: 10px;
	border-bottom: 3px solid #5A8D9F;
	font-family: 'Arvo', serif;
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;	
	text-align: center;
	color: #295F73;
	background: linear-gradient(to bottom, #81CAE3 5%, #77BDD7 100%);
	background: -o-linear-gradient(to bottom, #81CAE3 5%, #77BDD7 100%);
	background: -moz-linear-gradient(to bottom, #81CAE3 5%, #77BDD7 100%);
	background: -webkit-linear-gradient(to bottom, #81CAE3 5%, #77BDD7 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #81CAE3), color-stop(1, #77BDD7));
}

.lesson-button:hover, .lesson-button:focus {
	background: linear-gradient(to bottom, #77BDD7 5%, #81CAE3 100%);
	background: -o-linear-gradient(to bottom, #77BDD7 5%, #81CAE3 100%);
	background: -moz-linear-gradient(to bottom, #77BDD7 5%, #81CAE3 100%);
	background: -webkit-linear-gradient(to bottom, #77BDD7 5%, #81CAE3 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77BDD7), color-stop(1, #81CAE3));
}

span.fa {
	padding-right: 12px;
	font-size: 38px;
}

span.description {
	font-size: 12px;
	font-family: 'Verdana', sans-serif;
	display: block;
	line-height: 120%;
	text-shadow: none;
}

.action-button {
	display: block;
	padding: 20px 15px;
	width: 270px;
	height: 140px;
	border-radius: 10px;
	font-family: 'Arvo', serif;
	font-size: 20px;
	color: #FFF;
	text-decoration: none;	
	text-align: center;
}

.action-button:hover, .action-button:focus {
	color: #FFF;
	text-decoration: none;
}

.orange {
	background: linear-gradient(to bottom, #e66c18 5%, #f28b51 100%);
	background: -o-linear-gradient(to bottom, #e66c18 5%, #f28b51 100%);
	background: -moz-linear-gradient(to bottom, #e66c18 5%, #f28b51 100%);
	background: -webkit-linear-gradient(to bottom, #e66c18 5%, #f28b51 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e66c18), color-stop(1, #f28b51));
	border-bottom: 5px solid #A55015;
	text-shadow: 0px -2px #A55015;
}

.orange:hover, .orange:focus {
	background: linear-gradient(to bottom, #f28b51 5%, #e66c18 100%);
	background: -o-linear-gradient(to bottom, #f28b51 5%, #e66c18 100%);
	background: -moz-linear-gradient(to bottom, #f28b51 5%, #e66c18 100%);
	background: -webkit-linear-gradient(to bottom, #f28b51 5%, #e66c18 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f28b51), color-stop(1, #e66c18));
}

.orange:active {
	
}

.blue {
	background: linear-gradient(to bottom, #448bca 5%, #6fa5db 100%);
	background: -o-linear-gradient(to bottom, #448bca 5%, #6fa5db 100%);
	background: -moz-linear-gradient(to bottom, #448bca 5%, #6fa5db 100%);
	background: -webkit-linear-gradient(to bottom, #448bca 5%, #6fa5db 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #448bca), color-stop(1, #6fa5db));
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.blue:hover, .blue:focus {
	background: linear-gradient(to bottom, #6fa5db 5%, #448bca 100%);
	background: -o-linear-gradient(to bottom, #6fa5db 5%, #448bca 100%);
	background: -moz-linear-gradient(to bottom, #6fa5db 5%, #448bca 100%);
	background: -webkit-linear-gradient(to bottom, #6fa5db 5%, #448bca 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6fa5db), color-stop(1, #448bca));
}

.blue:active {
	
}

.yellow {
	background: linear-gradient(to bottom, #e6b700 5%, #ffc742 100%);
	background: -o-linear-gradient(to bottom, #e6b700 5%, #ffc742 100%);
	background: -moz-linear-gradient(to bottom, #e6b700 5%, #ffc742 100%);
	background: -webkit-linear-gradient(to bottom, #e6b700 5%, #ffc742 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e6b700), color-stop(1, #ffc742));
	border-bottom: 5px solid #A78400;
	text-shadow: 0px -2px #A78400;
}

.yellow:hover, .yellow:focus {
	background: linear-gradient(to bottom, #ffc742 5%, #e6b700 100%);
	background: -o-linear-gradient(to bottom, #ffc742 5%, #e6b700 100%);
	background: -moz-linear-gradient(to bottom, #ffc742 5%, #e6b700 100%);
	background: -webkit-linear-gradient(to bottom, #ffc742 5%, #e6b700 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e6b700), color-stop(1, #e6b700));
}

.yellow:active {
	
}

.green {
	background: linear-gradient(to bottom, #62a336 5%, #80b85f 100%);
	background: -o-linear-gradient(to bottom, #62a336 5%, #80b85f 100%);
	background: -moz-linear-gradient(to bottom, #62a336 5%, #80b85f 100%);
	background: -webkit-linear-gradient(to bottom, #62a336 5%, #80b85f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #62a336), color-stop(1, #80b85f));
	border-bottom: 5px solid #467327;
	text-shadow: 0px -2px #467327;
}

.green:hover, .green:focus {
	background: linear-gradient(to bottom, #80b85f 5%, #62a336 100%);
	background: -o-linear-gradient(to bottom, #80b85f 5%, #62a336 100%);
	background: -moz-linear-gradient(to bottom, #80b85f 5%, #62a336 100%);
	background: -webkit-linear-gradient(to bottom, #80b85f 5%, #62a336 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b85f ), color-stop(1, #62a336));
}

.green:active {
	
}

.red {
	background: linear-gradient(to bottom, #C00000 5%, #E95050 100%);
	background: -o-linear-gradient(to bottom, #C00000 5%, #E95050 100%);
	background: -moz-linear-gradient(to bottom, #C00000 5%, #E95050 100%);
	background: -webkit-linear-gradient(to bottom, #C00000 5%, #E95050 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #C00000 ), color-stop(1, #E95050));
	border-bottom: 5px solid #860000;
	text-shadow: 0px -2px #860000;
}

.red:hover, .red:focus {
	background: linear-gradient(to bottom, #E95050 5%, #C00000 100%);
	background: -o-linear-gradient(to bottom, #E95050 5%, #C00000 100%);
	background: -moz-linear-gradient(to bottom, #E95050 5%, #C00000 100%);
	background: -webkit-linear-gradient(to bottom, #E95050 5%, #C00000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #E95050), color-stop(1, #C00000));
}

.purple {
	background: linear-gradient(to bottom, #5f417f 5%, #735494 100%);
	background: -o-linear-gradient(to bottom, #5f417f 5%, #735494 100%);
	background: -moz-linear-gradient(to bottom, #5f417f 5%, #735494 100%);
	background: -webkit-linear-gradient(to bottom, #5f417f 5%, #735494 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5f417f), color-stop(1, #735494));
	border-bottom: 5px solid #281C35;
	text-shadow: 0px -2px #281C35;
}

.purple:hover, .purple:focus {
	background: linear-gradient(to bottom, #735494 5%, #5f417f 100%);
	background: -o-linear-gradient(to bottom, #735494 5%, #5f417f 100%);
	background: -moz-linear-gradient(to bottom, #735494 5%, #5f417f 100%);
	background: -webkit-linear-gradient(to bottom, #735494 5%, #5f417f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #735494), color-stop(1, #5f417f));
}

@media (max-width: 1199px) {
	span.fa {
		padding-right: 8px;
		font-size: 24px;
	}
	
	.action-button {
		font-size: 16px;
		width: 250px;
	}
}

@media (max-width: 999px) {
	.action-button {
		font-size: 14px;
		width: 200px;
	}
}


/***		Collage		***/
.collage {
    padding:10px;
}

.collage img {
    vertical-align: bottom;
    opacity: 0;
}

.collage-image {
  display: inline-block;
  
  margin: 10px;
  padding: 5px;
  
  border: 10px solid white;

  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}


/***		Tooltip		***/
.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
  }
  
  .ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
  }
  
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  
  .arrow.left {
    left: 20%;
  }
  
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
  }
  
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }