body {
	background-image: url('/images/FrontPageBG.png');
	xbackground-size: cover;
	overflow-y: scroll;
}

a:link {
	color: inherit;
	text-decoration: none;
}

a.active img.process {
	background-color: red;
}

p.home-text a:hover, p.home-text a.focus {
	border-bottom: 3px solid gold;
}

#topbar .container {
	background-image: url('/images/bfl-logo.png');
	background-position: 100% 85%;
	background-repeat: no-repeat;
}
	
#navigation {
	margin-top: 25px;
	margin-bottom: 20px;
	height: 60px;
	xbackground-image: url('/images/SecondayPageBG.png');
	xbackground-color: #6FBAD8;
}

	#navigation img {
		height: 48px;
	}
	
#sidebar {
	background-color: rgba(41,136,173, 0.23 );
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-top: 50px;
	padding-top: 20px;
	xpadding-left: 0;
	z-index: 0;
}
	
	#sidebar li {
		margin: 20px 0;
	}

#main {
	xborder: 1px solid black;
}
	
	h1.title {
		font-family: 'Bree Serif', serif;
		color: #31859C;
		font-size: 44px;
		margin-top: 50px;
	}
	
	h2.title {
		margin-bottom: 1em;
		color: #C00000;
	}

	div.home-image {
		height: 180px;
	}
	
	p.home-text {
		font-family: 'Bree Serif', serif;
		font-size: 24px;
		color: #31859C;
		width: 200px;
	}
	
	p.name {
		font-size: 24px;
		margin-top: 10px;
	}
	
	p.blurb {
		font-size: 18px;
	}
	
	.row.sep {
		border-top: 2px dashed gray; 
		margin-top: 10px;
		padding-top: 25px;
	}
	
	ul.main {
		margin-top: 20px;
	}
	
	ul.main li {
		margin: 5px 0;
	}
	
	ul.bxslide {
		background-color: #DCF3FB;
	}
	
	div.video {
		margin-bottom: 10px;
	}
	
#bottom {
	position: absolute;
	bottom: 75px;
	width: 100%;
}

#footer {
	position: absolute;
	bottom: 0;
	width:100%;
	display: none;
}

#footer .container {
	height:100px;
}

.container {
	xborder: 1px dashed;
	xbackground-color: #ADE2F4;
}