extends ../layout

block head
	title Classroom Example

	style.
		body {
			background-color: #fff;
			background-image: url('/images/secondaryPageBG.png');
			background-repeat: repeat-x;
		}

block main
	h2.title Classrooom Example
	hr

	iframe(width="700" height="394" src="//www.youtube.com/embed/GqBPK7CioXs" frameborder="0" allowfullscreen)
	