extends ../layout

block head
	title How-to Video

	style.
		body {
			background-color: #fff;
			background-image: url('/images/secondaryPageBG.png');
			background-repeat: repeat-x;
		}

block main
	h2.title How-to Video
	hr
		
	iframe(width="700" height="394" src="//www.youtube.com/embed/MbQpDsP6AzU" frameborder="0" allowfullscreen)
	