extends ../layout

block head
	title Review Exercises

	style.
		body {
			background-color: #fff;
			background-image: url('/images/secondaryPageBG.png');
			background-repeat: repeat-x;
		}

block main
	h2.title Review Exercises
	hr

	p We invite you to help develop exercises to review and reinforce what was learned in these lessons. We seek your expertise and creativity. 