style.
	ul.main li {
		list-style-type: cjk-earthly-branch;
		padding-bottom: 10px;
	}

h2
	img(src="/images/art.png", style="display:inline; vertical-align: middle;margin-right: 20px;")
	| Our Expectations
	
ul.main
	li No matter your skill level, YOU can do this. 
	li Not an artist? Not an animator? Not a problem. While challenging, our program should not go beyond your abilities. 
	li Keep all elements clean, fun and as fundamentally simple as possible.
	li This is not an art contest!
	li It may feel odd, but communication, efficiency and ease of construction must come first when making these lessons, even at the sacrifice of "beautiful" graphics. If it looks like it could be reproduced by a child, you're on the right path. 
	li Quantity is critical, so distribute your time wisely.
	li Use your limitations to your advantage by thinking outside the box!
