ul.nav
	li
		a.ajax(href="/manual/source-content", tabindex="1") 
			h3 Source Content
	li
		a.ajax(href="/manual/script", tabindex="2") 
			h3 Script
	li
		a.ajax(href="/manual/visual-brainstorm", tabindex="3") 
			h3 Visual Brainstorm
	li
		a.ajax(href="/manual/storyboard", tabindex="4") 
			h3 Storyboard
	li
		a.ajax(href="/manual/art", tabindex="5") 
			h3 Art
	li
		a.ajax(href="/manual/layout", tabindex="6") 
			h3 Layout
	li
		a.ajax(href="/manual/audio", tabindex="7") 
			h3 Audio
	li
		a.ajax(href="/manual/animation", tabindex="8") 
			h3 Animation
	li
		a.ajax(href="/manual/video-editing", tabindex="9") 
			h3 Video Editing
	li
		a(href="/",  tabindex="10") 
			h3 Home
		