link(href="/styles/navigation.css", rel="stylesheet")

ul.navigation.manual
	li
		a.ajax(href="/manual/source-content", data-title="Source Content", tabindex="1")  Source Content
	li
		a.ajax(href="/manual/script", data-title="Script", tabindex="2")  Script
	li
		a.ajax(href="/manual/visual-brainstorm", data-title="Visual Brainstorm",tabindex="3")  Visual Brainstorm
	li
		a.ajax(href="/manual/storyboard", data-title="Storyboard",tabindex="4")  Storyboard
	li
		a.ajax(href="/manual/art", data-title="Art",tabindex="5")  Art
	li
		a.ajax(href="/manual/layout", data-title="Layout",tabindex="6")  Layout
	li
		a.ajax(href="/manual/audio", data-title="Audio",tabindex="7")  Audio
	li
		a.ajax(href="/manual/animation", data-title="Animation", tabindex="8")  Animation
	li
		a.ajax(href="/manual/video-editing", data-title="Vide Editing", tabindex="9") Video Editing