h2
	img(src="/images/script.png", style="display:inline; vertical-align: middle;margin-right: 20px;")
	| Criteria for writing scripts

ul.main
	li.
		Make sure the value of the content to the teacher and students is clear and up front.

	li.
		Each subject is broken into small segments of 3-5 minutes that are simple and easy to grasli

	li.
		Use of simple, straight forward language. The videos are highly visual and easy to translate into any language of the world.

	li.
		The videos are designed in such a way that each lesson is memorable to the teachers for whom they are intended.

	li.
		No more than 3 ideas or points to remember. (for example don’t mix how to do a strategy with the benefits to the students)

	li.
		Take complex ideas break down to simple form.

	li.
		Always pay attention to creating a context when examples are used.

	li.
		Focus on concept not explanation.

	li.
		Balance between consistency and variety.

	li.
		Keep in mind this will be VISUAL presentation, images can be considered during the scripting even though the next step deals with that specifically 

	li.
		A tone of suggestion rather that just telling them what to do. We are a friendly guide on the side.

	li.
		Use of “We” language.

