img(src="/images/source-content.png", style="margin-bottom: 20px;")

p.
	Elementary school teachers who serve the poor in the developing countries may have as much love, caring and dedication as any other teacher in the world. However, they are the least trained, 
	work with practically no teaching tools and hold one of the lowest paid jobs in their countries.

p.
	We believe that Information Technology can and should be used to provide the best of training to the elementary school teachers who serve the poor. Suddenly, a very complex and major problem is solvable. 

p.
	Towards this end, Books for Life, the educational branch of Trees for Life, is building a Bridge to Education. This bridge will allow qualified, trained teachers to share their skills and knowledge with teachers who need such training.

p.
	Teachers will be able to share:

p.
	The pedagogy, consisting of the fundamental principles and strategies of teaching

p.
	How they apply these principles and strategies in real life 

p.
	A major part of our effort is to see how the knowledge and expertise of these teachers can be transformed into a form that is appropriate and effective for the teachers in developing countries. 
	It is similar to how electricity produced in millions of kilowatts has to be transformed to light a 40-watt bulb in a distant hut. 
	
p
	img(src="/images/process.png", style="position:relative; top: 40px;")
