img(src="/images/storyboard.png", style="margin-bottom: 20px;")

p.
	Now that you have your script and know the basic structure of a video, it's time to storyboard. Just as you'd start with a blueprint before building a house, 
	the video lessons you'll be creating will need initial planning in a quick, clear visual format. In our process, we've been using a series of storyboards to plan our videos. We have provided templates to help you.

h3 Concept Storyboard - Fast
p.
	Concept storyboards are for the quick visualization of multiple story concepts rather than accurate shot depictions. 
	In our template, we use small boxes which will hold a single action or thought so that you can quickly move on to the next action or idea without worrying about details.

p.
	Quick lines, stick figures and scribbles get the idea across---no perfectionists allowed! 
	Create as many ideas for a scene as needed and team members will sign off on the concepts to finalize the idea. Next, those rough ideas will translated into their respective scenes and timelines.

h3 First Draft Storyboard - More detail
p.
	The first draft storyboard allows for flexible, more accurate storyboarding with a little more detail than the Concept Storyboard. All team members must check off on the first draft storyboard before starting the Approved Storyboard.
	
aside.
	When creating a storyboard, think of your video as a story comprising various elements in a timeline. For each major scene, you should include information about who the subject is, what they are doing, where and why they are doing it, and so on.

